@{
    ViewData["Title"] = "ShrekMitiu";
}
<div class="text-center">
    <h1 class="display-4">Bungalow Booking</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="table">
    </table>
    <h1>Team1 trolqt.. samo az rabotq :c</h1>
</div>