@page
@model Bungala1.Views.ShrekMitius.EditModel

<h4>ShrekMitiu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShrekMitiu.Id" />
            <div class="form-group">
                <label asp-for="ShrekMitiu.Seats" class="control-label"></label>
                <input asp-for="ShrekMitiu.Seats" class="form-control" />
                <span asp-validation-for="ShrekMitiu.Seats" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ShrekMitiu.IsSmokerFriendly" /> @Html.DisplayNameFor(model => model.ShrekMitiu.IsSmokerFriendly)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ShrekMitiu.IsPetFriendly" /> @Html.DisplayNameFor(model => model.ShrekMitiu.IsPetFriendly)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ShrekMitiu.Location" class="control-label"></label>
                <input asp-for="ShrekMitiu.Location" class="form-control" />
                <span asp-validation-for="ShrekMitiu.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShrekMitiu.PricePerNight" class="control-label"></label>
                <input asp-for="ShrekMitiu.PricePerNight" class="form-control" />
                <span asp-validation-for="ShrekMitiu.PricePerNight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
